# Database Configuration
MONGO_URI=mongodb://localhost:27017/challenge

# Microservice Configuration
AUTH_HOST=localhost
AUTH_PORT=3001

# Gateway Configuration
PORT=3000

# JWT secret
JWT_SECRET="supersecret_jwt_key_123"