# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/dist
/build

# Misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Tests
coverage/

# IDEs
.vscode/
.idea/
*.swp
*.iml

# Docker volumes (se mai dovessi mapparli in locale)
mongo_data/